body {
	background-color:lightblue;
	height:100hv;
	display:flex;
	justify-content:center;
	align-items: center;
	box-shadow:0px 0px 50px #33003370;
}

.container {
	background-color:rgba(250, 83, 6, 0.39);
	width:300px;
	height:300px;
	overflow:scroll;
	border:5px solid #ff000050;
	border-radius:20px;
	box-shadow: 20px 20px 20px #33002230
}
.container:hover {
	box-shadow:0px 0px 50px #33003370;
}
h2 {
text-align:center;
font-weight: bold;
}

.image_container {
  text-align: center;
}

.image_container img {
  width: 50px;
  height: auto;
}
